@model FormClearance
@{
    ViewData["Title"] = "Process";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}
<style>
    .textFont {
        color: black;
        font-size: 16px;
    }

    td {
        color: black;
    }
</style>
<div class="container-fluid" id="archivesId">
    <div class="col-md-6 col-md-offset-5 " style="border:none; padding:0px">
        <div align="left" sstyle="text-align:left">
            <p class="" style="margin-top: 30px; font-weight: bold; text-align:left;font-size:24px">

            </p>

        </div>
    </div>

    <div class="col-md-12 " style="background-color: #fff; border: none;">
        <br />
        <a asp-action="Index" class="btn btn-lg" style="background-color:#008F6D; color:white">Back</a>
        <h4 style="margin-top:2em"><b>&nbsp;&nbsp;&nbsp;PROCESS REQUEST FOR @Model.Name</b></h4>

        <br />
    </div>
    <div class="col-md-12 " style="background-color: #fff; border: none;">
        <form method="post" asp-action="UpdateFormDetails" asp-controller="Home">
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" asp-for="Name" name="Name" value="@Model.Name" />
            <input type="hidden" asp-for="CollegeDept" name="CollegeDept" value="@Model.CollegeDept" />
            <input type="hidden" asp-for="ProblemDescription" name="ProblemDescription" value="@Model.ProblemDescription" />
            <input type="hidden" asp-for="TechnicalPerson" name="TechnicalPerson" value="@Model.TechnicalPerson" />
            <input type="hidden" asp-for="StaffId" name="StaffId" value="@Model.StaffId" />

            <div class="form-row">
                <div class="form-group col-md-6">
                    <h4 for="FirstName">STAFF ID:</h4>
                    <h4 for="FirstName"><b>@Model.StaffId</b></h4>
                </div>
                <div class="form-group col-md-6">
                    <h4 for="FirstName">NAME:</h4>
                    <h4 for="FirstName"><b>@Model.Name</b></h4>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <h4 for="FirstName">COLLEGE/DEPARTMENT:</h4>
                    <h4 for="FirstName"><b>@Model.CollegeDept</b></h4>
                </div>
                <div class="form-group col-md-6">
                    <h4 for="FirstName">TECHNICAL PERSON:</h4>
                    <h4 for="FirstName"><b>@Model.TechnicalPerson</b></h4>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <h4 for="FirstName">PROBLEM/DESCRTIPTION:</h4>
                    <h4 for="FirstName"><b>@Model.ProblemDescription</b></h4>
                </div>
                <div class="form-group col-md-6">
                    <h4 for="FirstName">STATUS:</h4>
                    <select id="formStatus" class="form-control" style="background:#fff; height:50px; width:350px; border-radius:0px" name="Status" required>
                        <option value="">--Please Select Status--</option>
                        <option value="DECLINED">DECLINED</option>
                        <option value="INITIATED">INITIATED</option>
                        <option value="TREATED">TREATED</option>
                        <option value="UNRESOLVED">UNRESOLVED</option>
                        <option value="PROCESSING">PROCESSING</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <H4 for="Recommendation">RECOMMENDATION</H4>
                    <textarea asp-for="Recommendation" class="form-control" name="Recommendation" id="Recommendation" rows="3" required></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-lg text-center" style="background-color:#008F6D; margin-left:22em; width:124px; color:white">Save</button>
                </div>
            </div>
        </form>
    </div>
    <div class="clear"></div>
    <br />
</div>

